*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
body{
  margin: 0;
  
}

.navigation ul {
 list-style:none; padding:0; margin:0;}
.navigation ul li{display:inline-block; padding-left: 30px}

.navigation li a{
  color: #FEFBF3;
  text-decoration: none;
}
.navigation{
 background:#566645;
 color: #FEFBF3;
 text-align:center;
 padding: 20px;
 font-size: 20px;
 }

 ul li {
   font-family: 'Glory', sans-serif;;
 }
.productOrder{
  font-family: 'Glory', sans-serif;
  
}
.product_one{
  text-align: center;
}
.delightdetails ul{
  list-style: none;
  padding-left: 25px;
  font-size: 20px;
  font-family: 'Glory', sans-serif;

}
.product_one img{
  height: 480px;
  width: 361px;
  padding: 2px;
  position: relative;
}

.product_two{
  text-align: center;
}
.product_two img{
  height: 480px;
  width: 361px;
  padding: 2px;
  position: relative;
}

.curtainDetails ul{
  list-style: none;
  padding-left: 25px;
  font-size: 20px;
  font-family: 'Glory', sans-serif;
  
}
.footer {
  background: #566645;
  font-family: 'Glory', sans-serif;
  color: #FEFBF3;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  text-align: center;
  padding: 10px 0;
}
